{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_header %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static "css/competitions.css" %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock extra_header %}

{% block content %}
  <h1 class="title">{% trans "Restore password" %}</h1>
  <form method="post">
    {% csrf_token %}
    {% include "partials/_generic_form.html" %}
    <div class="field is-horizontal">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">{% trans "Update" %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
