{% extends "emails/base.html" %}
{% load i18n %}
{% block content %}
<p
  style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  ¡Hola {{ user.get_short_name }}!</p>

<p
  style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  Para restaurar tu contraseña sólo has de hacer click en el siguiente enlace e
  introducir una nueva:</p>

<p
  style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  <a href="https://{{ site.domain }}{% url "users:restore-password" restore_password_code=user.restore_password_code%}">
    {% trans "Restore your password" %}
  </a></p>

<p
  style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14px; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;">
  ¡Un saludo!</p>
{% endblock content %}
